<h3>Bienvenido a <%= title %></h3>
<p> </p>

<hr><hr><hr>
<table  border="3"  BORDERCOLOR="RED" style="width:100%">
  <tr>
    <td><strong>AUTOR PROYECTO:</strong> Martín Olmedo</td>
    <td padding-top="0" rowspan="2">
    	<video width="80%" height="80%" controls>
		  <source src="<%= rutaVideo %>" type="video/mp4">
		</video>
    </td> 
  </tr>
  <tr>
    <td><img src="<%= rutaFoto %>"></td>
  </tr>
</table>
	



